<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>%>
  </title>

  <!-- jquery script plugin-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>

  <!-- bootstrap css -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <!-- font-awesome -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!-- data table plugin -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
  <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>

  <style>
    .error {
      color: rgb(219, 39, 93);
      font-weight: 700;
      display: block;
      padding: 6px 0;
      font-size: 14px;
    }

    .form-control.error {
      border-color: rgb(219, 39, 93);
      padding: .375rem .75rem;
    }
  </style>
</head>

<body>
  <div class="container-fluid mt-3 mb-3">
    <div class="jumbotron bg-dark text-white">
      <h2>Node Js Express</h2>
      <hr>
      <h4>crud application using ajax</h4>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 jumbotron ml-3">
        <h4 class="mt-1 mb-1">manage users</h4>
        <!-- main btn init -->
        <div id="main_btn">
          <button onclick="show_add_form()" class="btn btn-success btn-sm">new user</button>
        </div>
        <!-- main btn end -->

        <!-- ==================================================== -->

        <!-- form section init -->
        <div id="main_form">
          <form id="inser_form" role="form" autocomplete="off" method="POST">
            <div class="mb-2 mt-2">
              <input type="text" name="txt_for" id="txt_for">
              <input type="hidden" name="txt_order_id" id="txt_order_id">
              <input type="text" id="txt_full_name" name="txt_full_name" class="form-control" placeholder="Full Name">
            </div>
            <div class="mb-2 mt-2">
              <input type="text" id="txt_email" name="txt_email" class="form-control" placeholder="Email">
            </div>
            <div class="mb-2 mt-2">
              <input type="number" id="txt_contact" name="txt_contact" class="form-control"
                placeholder="Contact Number">
            </div>
            <div class="mb-2 mt-2">
              <textarea type="text" id="txt_description" name="txt_description" class="form-control"
                placeholder="Description"></textarea>
            </div>

            <div id="submit_div" class="mb-3 mt-3">
              <button type="submit" class="btn btn-success">submit</button>
            </div>
          </form>
        </div>
        <!-- form section end -->

        <!-- ==================================================== -->
      </div>
      <!-- dt tbl -->
      <div class="col-md-7">
        <h4>data tble</h4>
      </div>
    </div>
  </div>

  <!-- jquery validation plugins-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js">
    </script>

  <!-- js section -->
  <script>
    function show_add_form() {
      $('#main_form').show();
      $('#txt_for').val('INSERT');

      let content = '';
      content += '<button type="button" onclick="hide_add_form()" class="btn btn-sm btn-secondary ">Hide Form</button>';
      content += '<br>';

      $('main_btn').html(content);
    }

    function show_edit_form() {
      $('#main_form').show();
      $('#txt_for').val('EDIT');

      let content = '';
      content += '<button type="button" onclick="hide_add_form()" class="btn btn-sm btn-secondary ">Hide Form</button>';
      content += '<br>';
      $('main_btn').html(content);

      let content1 = '';
      content1 += '<button type="button" class="btn btn-sm btn-secondary ">edit data</button>';
      content1 += '<br>';
      $('submit_div').html(content1);

    }

    function hide_form() {
      $('#main_form').hide();

      $('#txt_full_name').val('');
      $('#txt_email').val('');
      $('#txt_contact').val('');
      $('#txt_description').val('');

      let content = '';
      content += '<button type="button" onclick="show_add_form()" class="btn btn-sm btn-success ">New User</button>';
      content += '<br>';
      $('main_btn').html(content);

    }

  </script>

  <script>
    $(document).ready(function () {

      $('#main_form').hide();
      $('#txt_for').val('INSERT');

      $('#txt_full_name').val('');
      $('#txt_email').val('');
      $('#txt_contact').val('');
      $('#txt_description').val('');

      $("#inser_form").validate({
        ignore: [],
        rules: {
          txt_full_name: {
            required: true
          },
          txt_email: {
            required: true,
            email: true
          },
          txt_contact: {
            required: true,
            minlength: 10,
            maxlength: 10,
            number: true
          },
          txt_description: {
            required: true
          }
        },
        messages: {
          txt_full_name: 'full name is required',
          txt_email: {
            required: 'email address is required',
            emal: "email address not valid"
          },
          txt_contact: {
            required: 'contact number is required',
            number: 'please provide number',
            minlength: 'min length should be 10 char only',
            maxlength: 'max length should be 10 char only'
          },
          txt_description: 'description is required',

        },
        submitHandler: function (form) {
          // form submit
          let formData = new FormData(form);
          // insert form
          if ($('#txt_for').val() === 'INSERT') {
            $.ajax({
              url: '/saveFomData',
              data: $('#inser_form').serializeArray(),
              dataType: 'json',
              method: 'POST',
              processData: true,
              error: function (error) {
                console.log(error);
              },
              success: function (results) {
                if (results.status == 200) {
                  window.alert("success");
                }
                if (results.status == 500) {
                  window.alert("interval server error");
                }
              }
            });
          }
          // insert form end
        }
      });
    })
  </script>



</body>

</html>