<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>%>
  </title>

  <!-- bootstrap css -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <!-- font-awesome -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!-- jquery script plugin-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>

</head>

<body>
  <div class="container-fluid mt-3 mb-3">
    <div class="jumbotron bg-dark text-white">
      <h2>Node Js Express</h2>
      <hr>
      <h4>crud application using ajax</h4>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 jumbotron ml-3">
        <h4 class="mt-1 mb-1">manage users</h4>
        <!-- main btn init -->
        <div id="main_btn">
          <button onclick="show_add_form()" class="btn btn-success btn-sm">new user</button>
        </div>
        <!-- main btn end -->

        <!-- ==================================================== -->

        <!-- form section init -->
        <div id="main_form">
          <form id="insert_form" method="POST" role="form" autocomplete="off">
            <div class="mb-2 mt-2">
              <input type="hidden" name="txt_for" id="txt_for">
              <input type="hidden" name="txt_order_id" id="txt_order_id">
              <input type="text" id="txt_full_name" name="txt_full_name" class="form-control" placeholder="Full Name">
            </div>
            <div class="mb-2 mt-2">
              <input type="text" id="txt_email" name="txt_email" class="form-control" placeholder="Email">
            </div>
            <div class="mb-2 mt-2">
              <input type="number" id="txt_contact" name="txt_contact" class="form-control"
                placeholder="Contact Number">
            </div>
            <div class="mb-2 mt-2">
              <textarea type="number" id="txt_description" name="txt_description" class="form-control"
                placeholder="Description"></textarea>
            </div>

            <div id="submit_div" class="mb-2 mt-2">
              <button name="submit" type="sumbit" class="btn btn-success">submit</button>
            </div>
          </form>
        </div>
        <!-- form section end -->

        <!-- ==================================================== -->
      </div>
      <!-- dt tbl -->
      <div class="col-md-7">
        <h4>data tble</h4>
      </div>
    </div>
  </div>

  <!-- js section -->
  <script>
    function show_add_form() {
      $('#main_form').show();
      $('txt_for').val('INSERT');

      let content = '';
      content += '<button type="button" onclick="hide_add_form()" class="btn btn-sm btn-secondary">Hide Form</button>';
      content += '<br>';

      $('main_btn').html(content);
    }

    function show_edit_form() {
      $('#main_form').show();
      $('txt_for').val('EDIT');

      let content = '';
      content += '<button type="button" onclick="hide_add_form()class="btn btn-sm btn-secondary">Hide Form</button>';
      content += '<br>';

      $('main_btn').html(content);

      let content1 = '';
      content1 += '<button type="button" onclick="hide_add_form()class="btn btn-sm btn-secondary">edit data</button>';
      content1 += '<br>';

      $('submit_div').html(content1);

    }

    function hide_form() {
      $('#main_form').hide();

      $('#txt_full_name').val('');
      $('#txt_email').val('');
      $('#txt_contact').val('');
      $('#txt_description').val('');

      let content = '';
      content += '<button type="button" onclick="hide_add_form()class="btn btn-sm btn-success">New User</button>';
      content += '<br>';
    }


  </script>




</body>

</html>